article {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  border: 1px solid;
  border-radius: 10px;
  // width: 200px;
  font-size: 30px;

  li {
    list-style: none;
  }
}

article:hover {
  background-color: var(--base);
  cursor: pointer;
}
